@font-face {
    font-family: 'Mulish', sans-serif;
    src: url("../Fonts/Mulish/static/Mulish-Black.ttf") format("truetype"), /*900*/
         url("../Fonts/Mulish/static/Mulish-ExtraBold.ttf") format("truetype"), /*800*/
         url("../Fonts/Mulish/static/Mulish-Regular.ttf") format("truetype"), /*400*/
         url("../Fonts/Mulish/static/Mulish-Medium.ttf") format("truetype"), /*500*/
         url("../Fonts/Mulish/static/Mulish-Light.ttf"); /*300*/
}

body {
    background-color: white;
    color: black;
    letter-spacing: 2px;
}

.main,
.bottom {
    background-image: url('pics/bg.png');
    background-size: 100% auto;
    background-position: center;
}

.first-title {
    font-weight: 300;
}

.titles-article {
    padding: 10%;
}

.btn {
    border-radius: 0px!important;
    padding: 20px;
    background-color: #FA1E4E!important;
    color: white;
}

.shadow {
    box-shadow: 0 5px 20px rgba(252, 101, 101, 0.555)!important;
    width: fit-content;
}

.content-title {
    text-align: center;
    font-weight: 900;
}

.content-sub-title {
    color: #FA1E4E;
    font-weight: 300;
}

.article {
    letter-spacing: 0.5px!important;
}

.bottom-title {
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}

.footer-text {
    color: grey;
    letter-spacing: 0.5px!important;
    text-align: center;
}

.box-size {
    padding-left: 13%;
    padding-right: 13%;
}