@font-face {
    font-family: 'Mulish', sans-serif;
    src: url("../Fonts/Mulish/static/Mulish-Black.ttf") format("truetype"), /*900*/
         url("../Fonts/Mulish/static/Mulish-ExtraBold.ttf") format("truetype"), /*800*/
         url("../Fonts/Mulish/static/Mulish-Regular.ttf") format("truetype"), /*400*/
         url("../Fonts/Mulish/static/Mulish-Medium.ttf") format("truetype"), /*500*/
         url("../Fonts/Mulish/static/Mulish-Light.ttf"); /*300*/
}

body {
    background: url('opera-bg.jpeg');
    background-size: 100% auto;
    background-attachment: fixed;
    font-family: Mulish;
}

.main-title {
    color: white;
    text-align: center;
}

.btn {
    background-color: #FA1E4E;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.92);
    font-size: 2em;
}

.content {
    color: rgba(255, 255, 255, 0.92);
    font-size: 19px;
}

.testimotional-title {
    color: rgba(255, 255, 255, 0.92);
    text-align: center;
    padding-top: 50px;
}

.comment {
    color: rgba(255, 255, 255, 0.92);
}

.comment > i > a {
    color: #FA1E4E;
    text-decoration: underline;
}

.comment > i > a:hover {
    color: rgba(255, 255, 255, 0.603);
    text-decoration: underline;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.42);
    border-style: dotted;
    width: 150px;
}

.footer-hr {
    border: 1px solid rgba(255, 255, 255, 0.92);
    width: 100%;
}

.footer-text {
    color: rgb(174, 174, 174);
    text-align: center;
}

.navbar {
    background-color: transparent!important;
}

ul > li > a {
    color: rgba(255, 255, 255, 0.92);
}

ul > li > a:hover {
    color: #FA1E4E;
}