@font-face {
    font-family: 'Mulish', sans-serif;
    src: url("../Fonts/Mulish/static/Mulish-Black.ttf") format("truetype"), /*900*/
         url("../Fonts/Mulish/static/Mulish-ExtraBold.ttf") format("truetype"), /*800*/
         url("../Fonts/Mulish/static/Mulish-Regular.ttf") format("truetype"), /*400*/
         url("../Fonts/Mulish/static/Mulish-Medium.ttf") format("truetype"), /*500*/
         url("../Fonts/Mulish/static/Mulish-Light.ttf"); /*300*/
}

body {
    color: white;
    background-image: url(pics/bg.png);
    letter-spacing: 2px;
    background-position: center;
    background-size: 100% 100%!important;
    background-repeat: no-repeat;
    z-index: -1;
}

.navbar-dark {
    background-color: transparent!important;
}

.carousel-inner {

    height: 45vw;

}

.carousel {
    height: fit-content;
}

.from-top {
    margin-top: 4%;
}

.first-title {
    font-weight: 300;
}

.h1-title {
    text-align: center;
}

.titles-article {
    line-height: 2em;
    width: fit-content;
}

.dark {
    background-color: rgba(0, 0, 0, 0.705);
    padding: 30px
}

.btn {
    border-radius: 0px!important;
    padding: 30px;
    background-color: #FA1E4E!important;
    color: white;
    font-size: 2.5em;
}

.shadow {
    box-shadow: 0 5px 20px rgba(252, 101, 101, 0.555)!important;
    width: fit-content;
}

.content {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.705);
}

.logo {
    width: 60%!important;
    height: auto!important
}

.content-title {
    font-weight: 900;
    margin-top: 4%!important;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 1em;
    width: fit-content;

}

.content-sub-title {
    color: #FA1E4E;
    font-weight: 300;
    text-transform: capitalize;
}

.article {
    letter-spacing: 0.5px!important;
    line-height: 1.5;
}

.bottom-title {
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    z-index: 1;
}


.footer-text {
    color: grey;
    letter-spacing: 0.5px!important;
    text-align: center;
    z-index: 1;
}

.box-size {
    padding-left: 13%;
    padding-right: 13%;
}