@font-face {
    font-family: 'Mulish', sans-serif;
    src: url("../Fonts/Mulish/static/Mulish-Black.ttf") format("truetype"), /*900*/
         url("../Fonts/Mulish/static/Mulish-ExtraBold.ttf") format("truetype"), /*800*/
         url("../Fonts/Mulish/static/Mulish-Regular.ttf") format("truetype"), /*400*/
         url("../Fonts/Mulish/static/Mulish-Medium.ttf") format("truetype"), /*500*/
         url("../Fonts/Mulish/static/Mulish-Light.ttf"); /*300*/
}

body {
    font-family: Mulish!important;
    color: rgba(255, 255, 255, 0.92);
    background-image: url('../wp6292153.png');
    background-size: 100%;
    background-attachment: fixed;
    font-weight: 300;
}

.navbar {
    background-color: transparent!important;
    font-size: 20px;
    font-family: Mulish;
}

.navbar-nav > a {
    color: white;
    font-family: Mulish;
}

.navbar-nav > a:hover {
    color: black;
}

.font-light {
    font-weight: 300;
}

.display-block {
    display: inline-block!important;
}

.img-left {
    transform: rotate(-20deg);
}
.img-right {
    transform: rotate(20deg);
}

.text-center > a {
    color: thistle;
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
}

.last-title {
    color: white;
    text-align: center;
}

.btn {
    background-color: #FA1E4E;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white!important;
    text-decoration: none!important;
}

.hr-footer {
    border: 1px solid white;
}

.row {
    font-family: Mulish;
}