@font-face {
    font-family: 'Mulish', sans-serif;
    src: url("../Fonts/Mulish/static/Mulish-Black.ttf") format("truetype"), /*900*/
         url("../Fonts/Mulish/static/Mulish-ExtraBold.ttf") format("truetype"), /*800*/
         url("../Fonts/Mulish/static/Mulish-Regular.ttf") format("truetype"), /*400*/
         url("../Fonts/Mulish/static/Mulish-Medium.ttf") format("truetype"), /*500*/
         url("../Fonts/Mulish/static/Mulish-Light.ttf"); /*300*/
}

body {
    font-family: Mulish;
    color: rgba(255, 255, 255, 0.92);
    background-image: url('../wp6292153.png');
    background-size: 100%;
    background-attachment: fixed;
}

.capitalize {
    text-transform: capitalize;
}

.btn {
    background-color: #FA1E4E;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    font-size: 2.3em;
    font-weight: 500;
}

.col-6 {
    border: 1px dotted white;
    padding: 30px;
}

.comments > a {
    color:#fff;
    text-decoration: underline;
    font-size: 1.5em!important;
}

.comments > a:hover {
    color:#FA1E4E;
}

hr {
    border: 1px dotted white;
}

.footer-hr {
    border: 1px solid #fff;
}