@font-face {
    font-family: 'Mulish', sans-serif;
    src: url("../Fonts/Mulish/static/Mulish-Black.ttf") format("truetype"), /*900*/
         url("../Fonts/Mulish/static/Mulish-ExtraBold.ttf") format("truetype"), /*800*/
         url("../Fonts/Mulish/static/Mulish-Regular.ttf") format("truetype"), /*400*/
         url("../Fonts/Mulish/static/Mulish-Medium.ttf") format("truetype"), /*500*/
         url("../Fonts/Mulish/static/Mulish-Light.ttf"); /*300*/
}

body {
    font-family: Mulish;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('opera-bg.jpg') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }


  /*-------------*/



.btn {
      background-color: #FA1E4E!important;
      padding-left: 90px;
      padding-right: 90px;
      padding-top: 30px;
      padding-bottom: 30px;
      color: white;
      font-size: 2em;
      margin: 50px;
    }

.box-title {
    color: white;
    background: rgba(0, 0, 0, 0.529)!important;
    padding: 1.5em;
    border-radius: 10px;
}

.h1 {
    font-family: 2.5em;
    opacity: 1;
    animation-name: topFadeOut;
    animation-duration: 5s;
}

.glow {
        text-align: ceter;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      
      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff;
        }
        
        to {
          text-shadow: 0 0 0px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #fff,;
        }
      }


.navbar {
    background-color: transparent!important;
    font-weight: 300;
    font-size: 16px;
}

#navbarNav {
    float: right!important;
}

ul > li > a {
    color: white!important;
}

ul > li > a:hover {
    color: #FA1E4E!important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2em;
    padding-right: 2em;
}

.logo {
    width: 70%;
}
